@font-face {
    font-family: "Sofia Sans";
    src: local("SofiaSans"),
      url("../fonts/Sofia_Sans/SofiaSans-VariableFont_wght.ttf") format("truetype");
    font-weight: bold;
    font-weight: 700;
    font-display: swap;
  }