.applications {
    width: 100%;
}
.wrappedBg {
    display: flex;
}
.appImg {
    // width: 40%;
    // height: 20%;
    position: relative;
    left: 130px;
    margin-left: 100px;
    margin-top: 125px;
    // top: 68px;
}
.applicationContainer {
    display: flex !important;
    margin: auto;
}
.applicationBG {
    margin-top: 15px !important;
    width: 60% !important;
    background-color: #a09fcf;
    padding: 10px 0px 10px 150px !important;
    border-radius: 30px !important;
}
.applicationName {
    font-family: 'Sofia Sans' !important;
    font-size: 30px;
    padding-top: 15px;
}
.desc {
    width: 100% !important;
    color: black !important;
    padding-top: 15px;
}
.operations {
    margin-top: 15px;
    font-family: 'Sofia Sans' !important;
    font-size: 20px !important;
}
.applicationContent {
    display: flex;
    width: 100%;
}