.slider {
    position: initial;

    button::before {
        // color: #36CABC !important;
        // font-size: 40px;
        .slick-next {
            padding-left: 15px;
        }
    }

    ul {
        margin-top: 10px !important;

        li {

            button::before {
                font-size: 1.2vw;
                color: #36CABC !important;
            }
        }
    }
}

.companyOverview {
    margin: 0em !important;
}

.title {
    font-family: 'Sofia Sans' !important;
    font-size: 30px;
}

.content {
    padding: 15px 0px 0px 25px;
    font-size: 20px;
    text-align: justify;
    width: 50%;
}

.slider-arrow {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
  }