.applications {
    width: 100%;
}
.wrappedBg {
    display: flex;
}
.appImg {
    width: 30%;
    height: 50%;
    position: relative;
    left: 100px;
    top: 68px;
}
.applicationContainer {
    display: flex !important;
    justify-content: center !important;
    width: 70% !important;
    margin: auto;
}
.applicationBG {
    margin-top: 15px !important;
    width: 100% !important;
    background-color: #a09fcf;
    padding: 10px 0px 10px 10px !important;
    border-radius: 30px !important;
}
.applicationName {
    font-family: 'Sofia Sans' !important;
    font-size: 30px;
    padding-top: 15px;
}
.desc {
    width: 100% !important;
    color: black !important;
    padding-top: 15px;
}
.operations {
    margin-top: 15px;
    font-family: 'Sofia Sans' !important;
    font-size: 20px !important;
}