@import "../assets/scss/main.scss";

.homePage {
    width: 100%;
    overflow: hidden;
}
.headerImg {
    width: 100%;
}
.tabContainer {
    position: absolute;
    top: 50px;
    width: 100%;
}
.Tabs {
    display: flex;
    justify-content: center;
    width: 100%;
}
.tabName {
    padding: 0px 75px 0px 75px;
    font-size: 18px;
    color: white;
    cursor: pointer;   
}
.activeTab {
    background-color: white;
    color: black;
    font-weight: 600;
    padding: 5px 35px 5px 35px;
    margin: 0px 45px 0px 45px;
    border-radius: 10px;
    font-size: 18px;
}

.company {
    position: absolute;
    top: 250px;
    width: 100%;
}

.description {
    width: 80%;
    font-size: 20px;
    line-height: 30px;
    color: white;
    margin-top: 30px;
}

.companyDetails {
    display: flex;
    justify-content: space-around;
    align-content: center !important;
}

.companyName {
    font-size: 55px;
    font-weight: 600;
    color: white;

    line-height: 100px;
    letter-spacing: 10px;
}

.logoName {
    text-align: center;
    font-size: 25px;
    color: white;
    font-weight: 700;
    line-height: 40px;
}

.subTab {
    position: absolute;
    top: 1000px;
}

.subTabContainer {
    display: flex;
    justify-content: center;
}

.css-11yukd5-MuiTabs-indicator {
    border-radius: 20px !important;

    position: absolute !important;
    height: 6px !important;
    bottom: 0 !important;
    -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
    background-color: #9c27b0 !important;
}

.css-1nuo49t-MuiButtonBase-root-MuiTab-root {
    font-size: 25px !important;
    font-family: 'Sofia Sans' !important;
}

.companyOverview {
    padding-bottom: 50px;
    padding-left: 30px;
}

.applications {
    padding-bottom: 50px;
    padding-left: 30px;
}
.services {
    padding-bottom: 50px;
    padding-left: 60px;
    padding-right: 60px;
}
.title {
    font-family: 'Sofia Sans' !important;
    font-size: 30px !important;
}
.serviceImgs {
    display: flex;
    justify-content: space-between;
}
.servicesContainer {
    margin-top: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    // padding: 15px 30px 15px 30px;
}
.servicesImg {
    width: 80%;
    display: flex !important;
    justify-content: space-between !important;
}